---
layout: compress
---

<!doctype html>

<style>
  #cookie-notice { font-weight: 900; font-size: 1rem; padding: 0.5rem 1rem; display: none; text-align: center; position: fixed; bottom: 0; width: calc(100% - 2rem); background: #222; color: rgba(255,255,255,0.8); z-index: 9000;}
  #cookie-notice a {display: inline-block; cursor: pointer; margin-left: 0.5rem;}
  @media (max-width: 767px) {
      #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
      #cookie-notice .btn a {position: relative; bottom: 4px;}
  }
</style>
<div id="cookie-notice">

  <span>We would like to use third party cookies and scripts to improve the functionality of this website.
      <a href="/privacy-policy.html" >privacy policy</a>
      <a href="/cookie-policy.html" >cookie policy</a>
  </span>
  <a id="cookie-notice-accept" class="btn btn-primary btn-sm .button">Approve</a>
  <a id="cookie-notice-dismiss" class="btn btn-primary btn-sm .button">Dismiss</a>
</div>
<script>
  function createCookie(name,value,days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + value + expires + "; path=/";
  }

  if(readCookie('cookie-notice-dismissed') !=='true') {
      document.getElementById('cookie-notice').style.display = 'block';
  }

  document.getElementById('cookie-notice-accept').addEventListener("click",function() {
      createCookie('cookie-notice-dismissed','true',31);
      document.getElementById('cookie-notice').style.display = 'none';
      location.reload();
  });

  document.getElementById('cookie-notice-dismiss').addEventListener("click",function() {
      document.getElementById('cookie-notice').style.display = 'none';
  });


</script>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html lang=lang %}

        <div class="row flex-grow-1">
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if layout.refactor or layout.layout == 'default' %}
              {% include refactor-content.html content=content lang=lang %}
            {% else %}
              {{ content }}
            {% endif %}
          </main>

          <!-- panel -->
          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 mb-5 text-muted">
            <div class="access">
              {% include_cached update-list.html lang=lang %}
              {% include_cached trending-tags.html lang=lang %}
            </div>

            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- JavaScripts -->
    {% include js-selector.html lang=lang %}

    {% include_cached search-loader.html lang=lang %}
  </body>
</html>
